* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    /* font-family: 'Raleway', sans-serif; */
    color: black;
    display: flex;
    flex-direction: column;
}

.footer {
    flex-shrink: 0;
}

.plans-body {
    background: url(../img/bryce.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.plans-section {
    border-radius: 2em;
    background-color: #fdf7f7;
    padding: 2em;
}

.logo {
    max-width: 3em;
}

.bg-custom {
    background-image: linear-gradient( #5C2018, rgba(0,0,0,0.2));
}

.bg-custom-dark {
    background-color: #5C2018;
}

.container {
    padding: 2em;
    background-color: #F3E0DC;
}

.title {
    background-color: #F3E0DC;
    color: #5C2018;
    padding: 2vh;
    border-radius: 1em;
}

.column {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.image {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    display:block;
    z-index:999;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
}

.image:hover {
    transform: scale(1.1);
}
  
  /* Mobile Styles */
  @media only screen and (max-width: 500px) {
    .title {
        font-size: 2.5em;
        width: 100%;
        margin: 3em 0em;
    }

    .container {
        margin: 0em;
    }

    .column {
        width: 100%;
    }

    .footer {
        flex-shrink: 0;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 501px) and (max-width: 960px) {
    .title {
        font-size: 2.5em;
        width: 100%;
        margin: 3em 0em;
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    .plans-img {
        max-width: 100%;
        border-radius: 2em;
    }

    .plan {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .col1, .col2 {
        width: 50%;
        padding: 2em;
    }

    .col1, .right {
        text-align: left;
        float: right;
    }

    .col2, .left {
        text-align: left;
        float: left;
    }

    .plan p {
        font-style: italic;
    }
  }