* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    /* font-family: 'Raleway', sans-serif; */
    color: black;
    display: flex;
    flex-direction: column;
}

.page-bg {
    background-color: #fdf7f7;
    /* background-color: white; */
    font-family: 'Raleway', sans-serif;
}

.footer {
    flex-shrink: 0;
}

.button {
    border-radius: 2em;
    padding: 1vh;
    margin: 2em 0em;
    font-size: 0.75em;
    background-color: #4285F4;
}

.plans-body {
    background: url(../img/bryce.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.plans-section {
    border-radius: 2em;
    background-color: #fdf7f7;
    padding: 2em;
}

.home-body {
    font-family: 'Raleway', sans-serif;
    background: url(../img/brightangel.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logo {
    max-width: 3em;
}

.bg-custom {
    background-image: linear-gradient( #5C2018, rgba(0,0,0,0.2));
}

.bg-custom-dark {
    background-color: #5C2018;
}

.about-body {
    background: url(../img/gorge.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.life-body {
    background: url(../img/canyon.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.life-title {
    text-align: center;
    font-size: 2em;
    padding:2em;
}

.container {
    padding: 2em;
    background-color: #F3E0DC;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    margin: 20%;
    color: #F3E0DC;
    padding: 1em;
}

.home-buttons {
    display: flex;
}

.home-button {
    margin: 0.5em 0.5em;
}

.title {
    background-color: #F3E0DC;
    color: #5C2018;
    padding: 2vh;
    border-radius: 1em;
}

.story {
    background-color: #F3E0DC;
    border-top: 1em solid #5C2018;
    margin: 20%;
    padding: 1em;
    border-radius: 1em;
}

.story-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.story-text {
    width: 50%;
}

.story-rule {
    border-top: 1em solid rgba(66, 133, 244, 0.5);
    border-radius: 2em;
}

.hphotop {
    width: 50%;
    margin-left: 7em;
}

.hphotol {
    width: 50%;
    margin-right: 3em;
}

.about-photo {
    filter: brightness(140%);
    padding: 2em 0em;
    margin: auto;
}

.about-title {
    padding: 1em 0em;
}

.gallery {
    display: flex;
    justify-content: space-around;
    gap: 2em;
}

    
.section {
    display: flex;
    flex-direction: column;
}

.section-text {
    font-size: small;
}

.milan-img {
    max-width: 100%;
    padding: 2em 0em;
}

.flip {
}

.column {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.image {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    display:block;
    z-index:999;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
}

.image:hover {
    transform: scale(1.1);
}
  
  /* Mobile Styles */
  @media only screen and (max-width: 500px) {
    .home-body {
      background-position: right;
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: column;
    }

    .home-container {
        margin: 0;
    }

    .title {
        font-size: 2.5em;
        width: 100%;
        margin: 3em 0em;
    }

    .home-button {
        display: none;
    }

    .container {
        margin: 0em;
    }

    .story {
        margin: 1em;
    }

    .story-section {
        flex-direction: column;
        margin: 0em;
    }

    .story-text {
        width: 100%;
        padding: 1em;
    }

    .hphotop {
        width: 100%;
        margin-left: 0em;
    }

    .hphotol {
        width: 100%;
        margin-right: 0em;
    }

    .gallery {
        flex-direction: column;
    }
    
    .column {
        width: 100%;
    }

    .about-photo {
        max-width: 100%;
    }

    .button {
        font-size: 0.75em;
    }

    .footer {
        flex-shrink: 0;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 501px) and (max-width: 960px) {
    .home-body {
        background-position: right;
    }

    .home-container {
        margin: 0;
    }

    .title {
        font-size: 2.5em;
        width: 100%;
        margin: 3em 0em;
    }

    .home-button {
        display: none;
    }

    .story {
        margin: 1em;
    }

    .story-section {
        flex-direction: column;
        margin: 0em;
    }

    .story-text {
        width: 100%;
        padding: 1em;
    }

    .hphotop {
        width: 100%;
        margin-left: 0em;
    }

    .hphotol {
        width: 100%;
        margin-right: 0em;
    }

    .about-photo {
        max-width: 250px;
        margin: auto;
    }

    .section {
        display: flex;
        flex-direction: row;
    }

    .section-text {
        padding-left: 2em;
        font-size: small;
    }

    .milan-img {
        max-width: 100%;
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    .plans-img {
        max-width: 100%;
        border-radius: 2em;
    }

    .plan {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .col1, .col2 {
        width: 50%;
        padding: 2em;
    }

    .col1, .right {
        text-align: left;
        float: right;
    }

    .col2, .left {
        text-align: left;
        float: left;
    }

    .plan p {
        font-style: italic;
    }

    .about-photo {
        max-width: 350px;
    }

    .section {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .section-text {
        padding-left: 2em;
        font-size: initial;
    }

    .milan-img {
        max-width: 100%;
    }
  }